*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  width: 0;
}
/* HEADER */

header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  
  width: 100%;
  height: 70px;
  padding: 0 15px;
  align-items: center;

  box-shadow: 0 0 10px #afafaf;
  background-color: #d3e7e7;

}

.logo{
  flex: 2;
}
h1 > i:hover{
  cursor: pointer;
}

h1,
h1 > a{
  color: #ff672b;  
  font-size: 26px;
}

a{
  text-decoration: none; 
  color: #000;
}

/* ---------------------------------------------------- */

.search-wrapper{
  flex: 2;
  display: flex;
  align-items: center;
}

.search-wrapper > input{
  padding: 0 10px;
  border: 1px solid #c1d5d5;
  border-right: none;
  border-radius: 5px 0 0 5px;
  margin-left: 5%;
  height: 28px;
  width: 90%;
}
.search-wrapper > input:focus{
  
  border: 2px solid #9ac9c9;
  outline: none;
}

.search-wrapper > i{
  padding-left: 10px;
  font-size: 22px;
  color: #c1d5d5;
  margin-right: 5%;
  cursor: pointer;
}
.search-wrapper > i:hover{
  color: #9ac9c9;
}

.search-wrapper > button{
  height: 28px;
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid #c1d5d5;
  border-radius: 0 5px 5px 0;
  background-color: #ffffff;
}

.search-wrapper > button:hover{
  background-color: #d3e7e7;
  border: 2px solid #9ac9c9;
}

.search-wrapper button i{
  color: #c1d5d5;
}

/* ----------------------------------------------------- */

.menu-wrapper{
  flex: 1.5;
  display: flex;
  justify-content: flex-end;

  align-items: center;
}

.menu-wrapper > i{
  padding-right: 10px;
  font-size: 22px;
  color: #c1d5d5;
  cursor: pointer;
}

.menu-wrapper > i:hover{
  color: #9ac9c9;
}

button.user-menu{
  height: 35px;
  width: 35px;

  border: none;
  background-color: #ff672b;
  border-radius: 50%;
  cursor: pointer;
}

button.user-menu:hover{
  background-color: #9ac9c9;
}

.user-menu > i{
  font-size: 16px;
  color: #d3e7e7;
}



nav ul{
  list-style: none;
}

.topmenu li:hover .submenu{
  visibility: visible;

}

.submenu{
  visibility: hidden;

  border-radius: 4px;
  background-color: white;
  width: 120px;
  position: absolute;
  right: 15px;
  top: 52px;
  box-shadow: 0 0 5px #919191;

  transition: 0.3s;
}

.submenu li{
  height: 34px;
  padding: 9px 14px;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}

.submenu li:last-child{
  border-bottom: none;
  color: #ff0000;
}
.submenu li:last-child a{
  color: #ff0000;
}
.submenu li:hover{
  background-color: #eeeeee;
}

/* ASIDE */
aside.sidebar{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: sticky;
  top: 70px;
  left: 0;
  height: calc(100vh - 70px);
  
  background-color: #d3e7e7;
  width: 240px;
}



.subscriptions-container{
  overflow-y: auto;
  height: 100%;
  border-bottom: 1px solid #fff;
}

.subscriptions-container ul{
  list-style: none;
}
.subscriptions-container ul li{
  padding: 0 20px;
  height: 50px;
  align-items: center;
  display: flex;
}
.subscriptions-container ul li:hover{
  background-color: #c1d5d5;
}

.subscriptions-container ul li img{
  width: 35px;
  padding: 2px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 50%;
}
.subscriptions-container ul li a{
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pulse {
  display: block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff672b;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255, 103, 43, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 103, 43, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 103, 43, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 103, 43, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.info-container{
  padding: 18px 0;
  text-align: center;
  margin: 20px 20px;
  height: 120px;
  background-color: #c1d5d5;
}

.info-container .icons a{
  font-size: 20px;
  display: inline-block;
  margin: 10px;
}

.info-container p{
  padding: 0 30px;
}

.info-container p::selection {
  color: #fff;
  background-color: #ff672b;
}

.info-container .icons .fa-telegram:hover,
.info-container .icons .fa-instagram:hover,
.info-container .icons .fa-facebook-square:hover{
  color: #0088cc;
}

@media (max-width: 1200px) {
  aside.sidebar{
    width: 80px;
  }

  .subscriptions-container ul li a,
  .subscriptions-container ul li .pulse,
  .subscriptions-container ul li span{
    display: none;
  }

  .subscriptions-container ul li img{
    margin: 0;
  }

  .info-container{
    display: none;
  }
  
} 


main{
  display: flex;
  background: #f7fdff;
  height: 100%;
  width: 100%;
}


.filter-tags{
  height: 60px;
  width: calc(100vw - 240px);
  font-size: 20px;
  overflow-x: auto;
  overflow-y: hidden; 
  white-space: nowrap;
  list-style: none;
  

}

.filter-tags::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1200px) {
  .filter-tags{
    width: calc(100vw - 80px);
  }
}

.filter-tags div{
  flex-grow: 1;
  margin: 10px 20px;
  padding: 6px 10px;
  height: 40px;
  border: 2px solid #c1d5d5;
  border-radius: 18px;
  background-color: #d3e7e7;
  display: inline-block;
}

.filter-tags div:hover{
  background-color: #c1d5d5;
}

.carousel-container{
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;

  height: 400px;
}
/* ------------------------------------------------ */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
/* ------------------------------------------------ */


input[type=radio] {
  display: none;
}
.video-wrapper{
  width: 100%;
  height: 80%;
  background-color: #d3e7e7;
}
.card {
  padding-top: 50px;
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.card video {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

#item-1:checked ~ .cards #video-3, #item-2:checked ~ .cards #video-1, #item-3:checked ~ .cards #video-2 {
  transform: translatex(-40%) scale(.8);
  z-index: 0;
}

#item-1:checked ~ .cards #video-2, #item-2:checked ~ .cards #video-3, #item-3:checked ~ .cards #video-1 {
  transform: translatex(40%) scale(.8);
  z-index: 0;
}

#item-1:checked ~ .cards #video-1, #item-2:checked ~ .cards #video-2, #item-3:checked ~ .cards #video-3 {
  transform: translatex(0) scale(1);
  z-index: 1;
  
}

.video-panel{
  margin: 60px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
@media (min-width: 1600px) {
  .video-panel{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1024px) {
  .video-panel{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .video-panel{
    grid-template-columns: 1fr;
  }
}
.video-card{
  max-width: 100%;
  position: relative;
}

.video-card .live{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 2px 4px;
  background-color: #ff672b;
  color: #fff;
  border-radius: 3px;
}
.video-card .active-viewers{
  position: absolute;
  bottom: 50px;
  right: 10px;
  padding: 2px 4px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.306);
  border-radius: 3px;
}
.video-card video{
  cursor: pointer;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.mask{
  visibility: hidden;
  position: absolute;
  top: 0px;
  width: 100%;
  height: calc(100% - 45px);
  background-color: rgba(0, 0, 0, 0.429);
}
.mask i{
  font-size: 60px;
  color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-card:hover .mask{
  visibility: visible;
}
.video-card .description{
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}
.video-card .description img{
  width: 30px;
  height: 30px;
}

.video-card .description div{
  flex: 1;
  padding-left: 10px;
}

footer{
  background-color: #d3e7e730;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px; 
}

